@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* web scrollbar */
::-webkit-scrollbar {
  scrollbar-width: 2px;
}

::-webkit-scrollbar-track {
  background: hsl(var(--muted));
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--muted-foreground));
  border-radius: 100vw;
}

.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  height: 100vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  @apply h-full;
}

/* Loading Animation */
.loader {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform: rotate(165deg);
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
}

.loader:before {
  animation: before8 2s infinite;
}

.loader:after {
  animation: after6 2s infinite;
}

@keyframes before8 {
  0% {
    width: 0.5em;
    box-shadow:
      1em -0.5em rgba(225, 20, 98, 0.75),
      -1em 0.5em rgba(111, 202, 220, 0.75);
  }

  35% {
    width: 2.5em;
    box-shadow:
      0 -0.5em rgba(225, 20, 98, 0.75),
      0 0.5em rgba(111, 202, 220, 0.75);
  }

  70% {
    width: 0.5em;
    box-shadow:
      -1em -0.5em rgba(225, 20, 98, 0.75),
      1em 0.5em rgba(111, 202, 220, 0.75);
  }

  100% {
    box-shadow:
      1em -0.5em rgba(225, 20, 98, 0.75),
      -1em 0.5em rgba(111, 202, 220, 0.75);
  }
}

@keyframes after6 {
  0% {
    height: 0.5em;
    box-shadow:
      0.5em 1em rgba(61, 184, 143, 0.75),
      -0.5em -1em rgba(233, 169, 32, 0.75);
  }

  35% {
    height: 2.5em;
    box-shadow:
      0.5em 0 rgba(61, 184, 143, 0.75),
      -0.5em 0 rgba(233, 169, 32, 0.75);
  }

  70% {
    height: 0.5em;
    box-shadow:
      0.5em -1em rgba(61, 184, 143, 0.75),
      -0.5em 1em rgba(233, 169, 32, 0.75);
  }

  100% {
    box-shadow:
      0.5em 1em rgba(61, 184, 143, 0.75),
      -0.5em -1em rgba(233, 169, 32, 0.75);
  }
}

.loader {
  position: absolute;
  top: calc(50% - 1.25em);
  left: calc(50% - 1.25em);
}

@keyframes slide {
  0% {
    transform: translateX(-500px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(-500px);
  }
}

@keyframes slide2 {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(0px);
  }
}

.animate-slide-1 {
  animation: slide 30s ease-in-out infinite;
}

.animate-slide-2 {
  animation: slide2 30s ease-in-out infinite;
}

.intro-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 2rem;
  overflow: hidden;
  background-size: 300% 300%;
  cursor: pointer;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 2px transparent;
  background-image: linear-gradient(
      hsl(var(--primary-foreground)),
      hsl(var(--primary-foreground))
    ),
    linear-gradient(
      137.48deg,
      hsl(var(--chart-1)) 10%,
      hsl(var(--chart-2)) 45%,
      hsl(var(--chart-3)) 67%,
      hsl(var(--chart-4)) 87%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
  color: hsl(var(--primary-foreground));
}

.text-gradient {
  background: linear-gradient(
    137.48deg,
    #ffdb3b 10%,
    #fe53bb 45%,
    #8f51ea 67%,
    #0044ff 87%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.line-animation {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}

.line-animation.line-animation-active:before {
  animation: rotate 4s linear infinite;
}

.line-animation::before {
  content: "";
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #00ff,
    #ff2929
  );
  width: 200%;
  height: 200%;
  position: absolute;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.img-testimonial {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    white 0%,
    transparent 60%,
    transparent 100%
  );
}

.text-gradient {
  background: linear-gradient;
}

/* embla carousel */
.embla {
  overflow: hidden;
  position: relative;
  padding-bottom: 40px;
}
.embla__viewport {
  overflow: hidden;
  width: 100%;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 100%;
  padding-bottom: 20px;
}
.embla__controls {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.embla__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

/* quill */
.ql-toolbar {
  border: none !important;
}

.ql-toolbar .ql-formats:not(:last-child) {
  padding-right: 12px !important;
}

.ql-container {
  border: none !important;
  height: 100px !important;
}

.ql-editor {
  line-height: 22px !important;
  padding: 8px 12px !important;
  font-weight: 400 !important;
  font-family: "Lato", sans-serif !important;
  font-size: 14px !important;
}

.ql-editor a {
  text-decoration: underline !important;
}

.ql-renderer {
  padding: 0 !important;
}

.ql-editor:before {
  left: 12px !important;
  font-style: normal !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  @apply truncate;
}

/* Quill editor styling with higher specificity */
.ql-container .ql-editor.ql-blank::before {
  font-weight: 10 !important;
  font-size: 15px !important;
  color: #787a80 !important;
  opacity: 1 !important;
  content: attr(data-placeholder);
}

/* shake animation */
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}

.hover-shake:hover {
  animation: shake 0.5s ease-in-out;
  animation-iteration-count: 2;
}
